colorama==0.4.6
ConfigParser==7.2.0
fastapi==0.138.0
flet==0.85.3
HTMLParser==0.0.2
mysql-connector-python==9.7.0
numpy==2.5.0
opencv_python==4.13.0.92
pandas==3.0.3
Pillow==12.2.0
pydantic==2.13.4
thread==2.0.6
openpyxl==3.1.5
plyer==2.1.0
